# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
.pnpm/
.eslintcache/

# Next.js build output
.next/
out/

# Production
build/

# Runtime data
*.pid
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# System files
Thumbs.db
